<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POD.Properties.Settings.PODManagerConnectionString"
            connectionString="Data Source=MANJULA-PC\sqlexpress;Initial Catalog=PODManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>